<% if shipment.tracking && can?(:fire, shipment.order) %>
  <%=  button_link_to Spree.t(:gls_label, scope: 'admin.order.events'),
      spree.download_label_admin_gls_url(shipment_number: shipment.number),
      method: :get,
      icon: 'shipping.svg',
      class: 'ml-auto btn btn-success',
      target: '_blank' %>
  <div class='clearfix'></div>
<% end %>
